<!-- <form [formGroup]="formConnexion">
  <div class="form-group">
    <label for="">email</label>
    <input type="text" formControlName="email" class="form-control" placeholder="email" aria-describedby="helpId">
  </div>
  <div class="form-group">
      <label for="">Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="password" aria-describedby="helpId">
    </div>
    <button type="submit" (click)="onConnexion()" class="btn btn-primary">Se Connecter</button>
  </form> -->
  <div class="logotop w-100">
    <h1>SEND XALISS</h1>
  </div>
  <div class="container-fluid">
      <div class="row justify-content " style="width: 1356px;">
          <div class="card-body p-0 ">
            <div class="row ">
              <div class="col-lg-6 col-md-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Account Login</h1>
                  </div>
                  <form [formGroup]="formConnexion" (ngSubmit)="onConnexion()">
                    <div class="form-group">
                      <input type="text" formControlName="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Enter Email Address">
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember
                          Me</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="text-center">
                        <button type="submit" (click)="onConnexion()" class="btn btn-success">Se Connecter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
             <div class="text-center">
              <img src="assets/img/imgmoney.jpg" class="float-right" alt="">
             </div>
              </div>
            <div class="row h-25"></div>
          </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>

