<div class="card container">
  <div style="overflow:auto;">
  <h2 >CREER UN COMPTE POUR UN PARTENAIRE EXISTANT
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/add-compte" class="add" >
     <button class="add-user" title="Ajouter" style="background-image: linear-gradient(30deg, #59C193 50%, #32A1D1 130%)">Ajouter Nouveau</button>
    </a>
  </h2>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="searchForm" class="form-search" >
        <mat-form-field appearance="outline">
          <mat-label>Ninea</mat-label>
          <label>
            <div class="col">
            <input  placeholder="NINIEA"  formControlName="ninea" type="search" class="form-control">
            </div>
          </label>
          <mat-error *ngIf="submitted && f.ninea.errors" class="invalid-feedback">
            <mat-error *ngIf="f.ninea.errors.required">Veuillez taper le ninea</mat-error>
          </mat-error>
        </mat-form-field>
        <button class="form-control"  type="submit"  (click)="onSubmitSearch()" class="btn btn-success search" >RECHERCHER</button>
      </form>
      <form [formGroup]="compteForm" *ngFor="let data of dataSearch " >

        <mat-form-field appearance="outline">
          <label>
            <input matInput  [value]="data.prenom" class="input" disabled>
          </label>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <label>
            <input matInput  [value]="data.nom" disabled>
          </label>
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
          <label>
            <input matInput  [value]="data.email" disabled>
          </label>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <label>
            <input matInput  [value]="data.ninea"  disabled>
          </label>
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
          <label>
            <input matInput  [value]="data.rc" disabled>
          </label>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <label>
            <input matInput placeholder="Tapez le montant à déposer" formControlName="montant" >
          </label>
          <mat-error *ngIf="submitted && g.montant.errors" class="invalid-feedback">
            <mat-error *ngIf="g.montant.errors.required">Veuillez taper le montant à déposer (min = 500.000 F )</mat-error>
            <mat-error *ngIf="g.montant.errors.pattern">Le monatnt doit contenir seulement des chiffres </mat-error>
          </mat-error>
        </mat-form-field>
        <button mat-flat-button class="btn btn-success"  type="submit"  (click)="onSubmitForm()" >ENREGISTRER</button>
      </form>
    </div>
</div>
