<h2 class="mt-2 " >LISTE DES UTILISATEURS
</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/add-users" class="add" >
  <button class="add-user" title="Ajouter" style="background-image: linear-gradient(30deg, #59C193 50%, #32A1D1 130%)">Ajouter Utilisateur</button>
  </a>
 <br>
<div class="card container">
  <div style="overflow:auto;">

    <div class="mat-elevation-z8" >

      <mat-divider></mat-divider>
      <mat-table [dataSource]=" listData"  >
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef >ACTION</mat-header-cell >
          <mat-header-cell *matCellDef="let row" >
            <button (click)="deletePost(row.id)" style=" color: firebrick" class="action-btn" title="Supprimer">
              <i class="fas fa-trash logo">Supprimer</i>
            </button>
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="id" >
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-header-cell *matCellDef="let User">
            {{User.id}}
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <mat-header-cell *matHeaderCellDef  >PRENOM</mat-header-cell>
          <mat-header-cell *matCellDef="let User">
            {{User.prenom}}
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef  >NOM</mat-header-cell>
          <mat-header-cell *matCellDef="let User">
            {{User.nom}}
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef  >EMAIL</mat-header-cell>
          <mat-header-cell *matCellDef="let User">
            {{User.email}}
          </mat-header-cell>
        </ng-container>


        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef  >ROLE</mat-header-cell>
          <mat-header-cell *matCellDef="let User">
            {{User.libelle}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="isActive">
          <mat-header-cell *matHeaderCellDef  >STATUS</mat-header-cell>
          <mat-header-cell *matCellDef="let user">
            <div *ngIf="user.isActive; else elseBlock">
              <button (click)="onStatus(user.id)" class="action-btn btn-success" title="Activer">
                <i class="fas fa-unlock logo">Activer</i>
              </button>
            </div>
            <ng-template #elseBlock>
              <button (click)="onStatus(user.id)" class="action-btn btn-warning" title="Desactiver">
                <i class="fas fa-lock logo">Desactiver</i>
              </button>
            </ng-template>
          </mat-header-cell>
        </ng-container>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

