<div class="card container" *ngIf="isAdmin()" >
  <h2 >AJOUTER UN UTILISATEUR
  </h2>
  <div style="overflow:auto; margin-bottom: 30px">

    <div class="mat-elevation-z8" >
      <mat-divider></mat-divider>
      <br>
  <form [formGroup]="userForm"  >
      <mat-form-field appearance="outline">
        <label>
          <input matInput placeholder="Tapez le prénom" formControlName="prenom" class="input">
        </label>
        <mat-error *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
          <mat-error *ngIf="f.prenom.errors.required">Veuillez taper le prénom</mat-error>
          <mat-error *ngIf="f.prenom.errors.pattern">Le prénom doit contenir seulement des lettres </mat-error>
          <mat-error *ngIf="f.prenom.errors.minlength">Le prénom doit contenir au minimu 3 lettres </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <label>
          <input matInput placeholder="Tapez le nom" formControlName="nom">
        </label>
        <mat-error *ngIf="submitted && f.nom.errors" class="invalid-feedback">
          <mat-error *ngIf="f.nom.errors.required">Veuillez taper le nom</mat-error>
          <mat-error *ngIf="f.nom.errors.pattern">Le nom doit contenir seulement des lettres </mat-error>
          <mat-error *ngIf="f.nom.errors.minlength">Le nom doit contenir au minimu 2 lettres </mat-error>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <label>
          <input matInput placeholder="Tapez l'email" formControlName="email">
        </label>
        <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <mat-error *ngIf="f.email.errors.required">Veuillez taper l'adresse email</mat-error>
          <mat-error *ngIf="f.email.errors.email">L'adresse email n'est pas valide </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <label>
          <input matInput placeholder="Tapez le mot de passe"  type="password" formControlName="password">
        </label>
        <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <mat-error *ngIf="f.password.errors.required">Veuillez taper le mot de passe </mat-error>
          <mat-error *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au minimu 5 caractères </mat-error>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <label>
          <input matInput placeholder="Tapez le Retapez le mot de passe"  type="password" formControlName="passwordComfirm" >
        </label>
        <mat-error *ngIf="submitted && f.passwordComfirm.errors" class="invalid-feedback">
          <mat-error *ngIf="f.passwordComfirm.errors.required">Veuillez confirmer le mot de passe </mat-error>
          <mat-error *ngIf="f.passwordComfirm.errors.mustMatch">les deux mots de passe ne sont pas identiques</mat-error>
          <mat-error *ngIf="f.passwordComfirm.errors.minlength">Le mot de passe doit contenir au minimu 5 caractères </mat-error>
        </mat-error>
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select formControlName="role" placeholder="Roles"  class="select"   >
        <label>
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{role.libelle}}
          </mat-option>
        </label>
      </mat-select>
      <mat-error *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <mat-error *ngIf="f.role.errors.required">Veuillez choisir un role </mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-flat-button class="btn btn-success"  type="submit"  (click)="onSubmitForm()" >ENREGISTRER</button>
  </form>
  </div>
  </div>
</div>
