<div class="card container">
  <h2 class="mt-2 " >LISTE DES ENVOIS
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/envoi" class="add" >
      <mat-icon class="add-user" title="Ajouter">add_circle  </mat-icon>
    </a>
  </h2>
  <div style="overflow:auto;">

    <div class="mat-elevation-z8" >

      <mat-divider></mat-divider>
      <mat-table [dataSource]=" listData"  >
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

        <ng-container matColumnDef="prenomE" >
          <mat-header-cell *matHeaderCellDef>PRENOM EMETTEUR</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.prenomE}}
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="nomE">
          <mat-header-cell *matHeaderCellDef  >NOM <br> EMETTEUR</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.nomE}}
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="telephoneE">
          <mat-header-cell *matHeaderCellDef  >TELEPHONE EMETTEUR</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.telephoneE}}
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="npieceE">
          <mat-header-cell *matHeaderCellDef  >N° PIECE EMETTEUR</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.npieceE}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="prenomB" >
          <mat-header-cell *matHeaderCellDef>PRENOM BENEFICIAIRE</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.prenomB}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="nomB">
          <mat-header-cell *matHeaderCellDef  >NOM BENEFICIAIRE</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.nomB}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="telephoneB">
          <mat-header-cell *matHeaderCellDef  >TELEPHONE BENEFICIAIRE</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.telephoneB}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="montant">
          <mat-header-cell *matHeaderCellDef  >MONTANT</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.montant}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="frais">
          <mat-header-cell *matHeaderCellDef  >FRAIS</mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.frais}}
          </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="dateEnvoi">
          <mat-header-cell *matHeaderCellDef  >DATE D'ENVOI </mat-header-cell>
          <mat-header-cell *matCellDef="let dataListeEnvoi">
            {{dataListeEnvoi.dateEnvoi.date |   date:'dd-MM-yyyy hh:mm:ss '}}
          </mat-header-cell>
        </ng-container>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

