<div class="card container">
  <h2 >MODIFIER UN UTILISATEUR
  </h2>
  <div style="overflow:auto;">
    <div class="mat-elevation-z8" >
      <mat-divider></mat-divider>
      <form [formGroup]="userForm"  >
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <label>
            <input matInput placeholder="Tapez le prénom" formControlName="prenom" [value]="userForm.value.prenom">
          </label>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <label>
            <input matInput placeholder="Tapez le nom" formControlName="nom" [value]="userForm.value.nom" >
          </label>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input matInput placeholder="Tapez l'email" formControlName="email" [value]="userForm.value.email" >
          </label>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select formControlName="role" placeholder="Roles"  style="height: 20px;" [(value)]="selected" >
            <label>
              <mat-option  *ngFor="let role of roles" [value]="role.libelle" >
               {{role.libelle}}
              </mat-option>
            </label>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button class="btn" type="submit"  (click)="onSubmitForm()" [disabled]="userForm.invalid">ENREGISTRER</button>
      </form>
    </div>
  </div>
</div>

