<div class="card container"  *ngIf="isPartenaire()">
  <div style="overflow:auto;  margin:15px">

  </div>
</div>
<div class="card container" *ngIf="isPartenaire()" style="margin-top: 10px">
  <h2 >ENVOYER DE L'ARGENT
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/retrait" class="add" >
      <button class="add-user" title="Ajouter" style="background-image: linear-gradient(30deg, #59C193 50%, #32A1D1 130%)">Retrait</button>
    </a>
  </h2>
  <div style="overflow:auto; margin-bottom: 30px">

    <div class="mat-elevation-z8" >
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="envoiForm"  >
        <mat-form-field appearance="outline">
          <label>
            <div class="col">
            <input placeholder="Prénom émetteur" formControlName="prenomE" class="form-control">
            </div>
          </label>
          <mat-error *ngIf="submitted && f.prenomE.errors" class="invalid-feedback">
            <mat-error *ngIf="f.prenomE.errors.required">Veuillez taper le prénom de l'émetteur</mat-error>
            <mat-error *ngIf="f.prenomE.errors.pattern">Le prénom doit contenir seulement des lettres </mat-error>
            <mat-error *ngIf="f.prenomE.errors.minlength">Le prénom doit contenir au minimu 3 lettres </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">

          <label>
          <div class="col">
            <input  placeholder="Nom émetteur"  formControlName="nomE" class="form-control">
          </div>
          </label>
          <mat-error *ngIf="submitted && f.nomE.errors" class="invalid-feedback">
            <mat-error *ngIf="f.nomE.errors.required">Veuillez taper le nom de l'émetteur</mat-error>
            <mat-error *ngIf="f.nomE.errors.pattern">Le nom doit contenir seulement des lettres </mat-error>
            <mat-error *ngIf="f.nomE.errors.minlength">Le nom doit contenir au minimu 2 lettres </mat-error>
          </mat-error>
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
          <label>
          <div class="col">
            <input  placeholder="N° téléphone émetteur"   formControlName="telephoneE" class="form-control">
          </div>
          </label>
          <mat-error *ngIf="submitted && f.telephoneE.errors" class="invalid-feedback">
            <mat-error *ngIf="f.telephoneE.errors.required">Veuillez taper le numéro de téléphone de l'émetteur</mat-error>
            <mat-error *ngIf="f.telephoneE.errors.pattern">Le numéro de téléphone n'est pas valide </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">

          <label>
          <div class="col">
            <input  placeholder="N° CIN émetteur"  formControlName="npieceE" class="form-control">
          </div>
          </label>
          <mat-error *ngIf="submitted && f.npieceE.errors" class="invalid-feedback">
            <mat-error *ngIf="f.npieceE.errors.required">Veuillez taper le n° de la pièce d'identité de l'émetteur</mat-error>
            <mat-error *ngIf="f.npieceE.errors.pattern">Le n° de la pièce d'identité doit contenir 9 chiffres au maximun</mat-error>
          </mat-error>
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
          <label>
            <div class="col">
            <input placeholder="Prénom Bénéficiaire" formControlName="prenomB" class="form-control">
            </div>
          </label>
          <mat-error *ngIf="submitted && f.prenomB.errors" class="invalid-feedback">
            <mat-error *ngIf="f.prenomB.errors.required">Veuillez taper le prénom du bénéficiaire</mat-error>
            <mat-error *ngIf="f.prenomB.errors.pattern">Le prénom doit contenir seulement des lettres </mat-error>
            <mat-error *ngIf="f.prenomB.errors.minlength">Le prénom doit contenir au minimu 3 lettres </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">

          <label>
            <div class="col">
            <input  placeholder="Nom  Bénéficiaire"  formControlName="nomB" class="form-control">
          </div>
          </label>
          <mat-error *ngIf="submitted && f.nomB.errors" class="invalid-feedback">
            <mat-error *ngIf="f.nomB.errors.required">Veuillez taper le nom du bénéficiaire</mat-error>
            <mat-error *ngIf="f.nomB.errors.pattern">Le nom doit contenir seulement des lettres </mat-error>
            <mat-error *ngIf="f.nomB.errors.minlength">Le nom doit contenir au minimu 2 lettres </mat-error>
          </mat-error>
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
          <label>
            <div class="col">
            <input  placeholder="N° téléphone Bénéficiaire" formControlName="telephoneB" class="form-control">
          </div>
          </label>
          <mat-error *ngIf="submitted && f.telephoneB.errors" class="invalid-feedback">
            <mat-error *ngIf="f.telephoneB.errors.required">Veuillez taper le numéro de téléphone du bénéficiaire</mat-error>
            <mat-error *ngIf="f.telephoneB.errors.pattern">Le numéro de téléphone n'est pas valide </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">

          <label>
            <div class="col">
            <input  placeholder="Montant déposer" formControlName="montant" class="form-control">
          </div>
          </label>
          <mat-error *ngIf="submitted && f.montant.errors" class="invalid-feedback">
            <mat-error *ngIf="f.montant.errors.required">Veuillez taper le montant à envoyer </mat-error>
            <mat-error *ngIf="f.montant.errors.pattern">Le monatnt doit contenir seulement des chiffres </mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" *ngIf="isPartenaire()" >
          <mat-select formControlName="numCompte" placeholder="Compte"  class="select"  >
            <label>
              <mat-option *ngFor="let compte of comptes" [value]="compte.numCompte">
                {{compte.id}}   --   {{compte.numCompte}}   --   {{compte.solde}}
              </mat-option>
            </label>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button type="submit"  (click)="onSubmitForm()" >ENREGISTRER</button>
      </form>
    </div>
  </div>
<div id="element" >
    <div *ngFor="let dataEnvoi of dataEnvoi"  >

          <h1>
            {{dataEnvoi.prenomE}}
          </h1>

      <h1>
        {{dataEnvoi.nomE}}
      </h1>
      <h1>
        {{dataEnvoi.telephoneE}}
      </h1>


      </div>
  </div>
  <!--<button type="submit" (click)="getPdf()">click</button>-->
</div>

